body {
	font-size: 20px;
	color: #28324E;
	font-family: Calibri;
	min-width: 620px;
}

.modalWindow {
    position: fixed;
    font-family: arial;
    font-size:80%;
    background: rgba(236, 240, 241,.85);
    z-index: 99999;
    opacity:1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: auto;
    text-align: center;
    height: 80px;
    width: 200px;
    margin-top: 10%;
    margin-left: 40%;
    border-radius: 10px;
}

.modalWindow:target {
    opacity:0;
    pointer-events: none;
}
		
a,a:visited{
	color: #A38F84;
}
td {
	font-size: 15px;
	color: black;
	width: 100px;
	height: 22px;
	text-align: left;
}
		
.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 1px solid #ff0000;
	padding: 8px;
	margin: 16px;
	margin-top: 50px;
	width: 300px;
	font-size: small;
}
		
#message{
	color: black;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

#message a{
	color: black;
}

#love{
	color: green;
}
.heading {
	font-size: 18px;
	color: white;
	font: bold;
	background-color: orange;
	border: thick;
}

.form-fields{
	padding:6px;
}
.comment{
	position:absolute;
	float:right;
	width:300px;
}
.formdiv{
	position:static;
	margin-top:70px;
}
.errs{
	margin-top: 50px;
}
.htln-left{
	float:left;
	width: 40%;
	margin-left: 30px;
}
.htln-right{
	float:right;
	width: 40%;
	margin-right: 30px;
}

ul {
	list-style-type: none;
}
.headers{
	margin: 0 auto;
	margin-top:100px;
	max-width: 72%;
	text-align: center;
	border-bottom: 1px solid #f3e1d4;
}
.cont-div{
	max-width: 72%;
	margin: 0 auto;
}
.desc{
	margin-left: 20px;
}
.vis-site{
	float:right;
	font-size: 13px;
	padding-right: 40px;
	margin-bottom: 60px;
}
.vis-site a{
	color: #8e44ad;
	text-decoration: none;
}
.vis-siteNL{
	float:right;
	font-size: 13px;
	color: #95a5a6;
	pointer-events: none;
    cursor: default;
}
#getstarted{
	height: 70px;
	width: 250px;
	color: white;
	background: #e74c3c;
	border-radius: 5px;
	font-size: 35px;
	padding: 5px;
}
#apps-desc{
	padding: 20px;
}
.apps-desc-div{
	border-bottom: 1px solid #f3e1d4;
	margin-bottom:60px;
	min-width: 100%;
}
.about-us{
	border-top:1px solid #bdc3c7;
	margin-bottom: 50px;
}

#about-indiv{
	padding-left: 10px;
	font-size: 18px;
}

.form-fields select{
	padding: 0.5em 0.6em;
   	line-height: 1;
   	-webkit-appearance: none;
   	overflow: hidden;
   	background: url('imgs/down.png') no-repeat 98.7%50% #fff;
   	border: 1px solid #ccc;
   	color: #000;
   	font-family: arial;
   	vertical-align: middle;
   	font-size: 0.8em;
   	border-radius: 4px;
   	width: 33%;
}
