<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
  http://www.springframework.org/schema/mvc
  http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.2.xsd
  ">

 <!-- telling container to take care of annotations stuff -->
 <context:annotation-config />

 <!-- declaring base package -->
 <context:component-scan base-package="com.uportal, com.goup" />
 
 <mvc:annotation-driven/>
 <mvc:resources mapping="/resources/**" location="/resources/" />
 

 <!-- adding view resolver to show jsp's on browser -->
 <bean id="viewResolver"
  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
  <property name="prefix" value="/WEB-INF/jsp/" />
  <property name="suffix" value=".jsp" />
 </bean>

 <!-- declare beans -->
 <bean id="userDao" class="com.uportal.dao.UserDaoImpl" />
 <bean id="userService" class="com.uportal.services.UserServiceImpl" />
 
 <bean id="resourceDao" class="com.uportal.dao.ResourceDaoImpl" />
 <bean id="resourceService" class="com.uportal.services.ResourceServiceImpl" />
 
 <bean id="adminRequestDao" class="com.uportal.dao.AdminRequestDaoImpl" />
 <bean id="adminRequestService" class="com.uportal.services.AdminRequestServiceImpl" />

 <!-- declare datasource bean -->
 <bean id="dataSource"
  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="com.mysql.jdbc.Driver" />
  <property name="url" value="jdbc:mysql://127.0.0.1:3306/uportaldb" />
  <property name="username" value="java" />
  <property name="password" value="eclipseisabitch" />
 </bean>
 
 <bean id="anonymousAuthFilter"
    class="org.springframework.security.web.authentication.AnonymousAuthenticationFilter">
  <property name="key" value="foobar"/>
  <property name="userAttribute" value="anonymousUser,ROLE_ANONYMOUS"/>
</bean>

<bean id="anonymousAuthenticationProvider"
    class="org.springframework.security.authentication.AnonymousAuthenticationProvider">
  <property name="key" value="foobar"/>
</bean>

<!-- START: goUP -->
<bean id="placeDao" class="com.goup.dao.PlaceDaoImpl" />
	<bean id="placeService" class="com.goup.services.PlaceServiceImpl" />
	<bean id="myPlaceDao" class="com.goup.dao.MyPlaceDaoImpl" />
	<bean id="myPlaceService" class="com.goup.services.MyPlaceServiceImpl" />
	<bean id="categoryDao" class="com.goup.dao.CategoryDaoImpl" />
	<bean id="categoryService" class="com.goup.services.CategoryServiceImpl" />

<!-- declare datasource bean -->
<bean id="mapDataSource"
	class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	<property name="url" value="jdbc:mysql://localhost:3306/goup" />
	<property name="username" value="java" />
	<property name="password" value="eclipseisabitch" />
</bean>
<!-- END: goUP -->
</beans>
