<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
 
	<http auto-config="true">
		<intercept-url pattern="/home*" access="IS_AUTHENTICATED_ANONYMOUSLY, ROLE_GENERAL" />
		<intercept-url pattern="/welcome*" access="ROLE_GENERAL, ROLE_ADMIN" />
		<intercept-url pattern="/private*" access="ROLE_GENERAL, ROLE_ADMIN" />
		<intercept-url pattern="/getList*" access="ROLE_ADMIN" />
		<intercept-url pattern="/AdminPage*" access="ROLE_GOD, ROLE_ADMIN" />
		<intercept-url pattern="/reset*" access="ROLE_GOD, ROLE_ADMIN" />
		<form-login login-page="/login" default-target-url="/welcome"
			authentication-failure-url="/loginfailed" />
		<logout logout-success-url="/logout" />
	</http>
 
	<authentication-manager>
	  <authentication-provider>
	  		<password-encoder hash="sha" />
			<jdbc-user-service data-source-ref="dataSource"
				
				users-by-username-query="
					select username,password,enabled 
					from users where USERNAME=?" 
					
				authorities-by-username-query="
					select u.username, r.rolename from users u, userRoles ur, roles r, rolesPerType rpt
		      		where u.userid = ur.userid and rpt.typeid = ur.typeid and r.roleid = rpt.roleid and u.username =?  "
			/>
		</authentication-provider>
	</authentication-manager>
 
</beans:beans>